*~
autom4te.cache/
*.bak
build.sh
config.h
config.h.in~
config.log
config/mkinstalldirs~
config.status
configure~
configure.in~
.deps/
doc/stamp-vti
doc/version.texi
glob/.deps/
Makefile
*.o
*.a
make
po/en@boldquot.header
po/en@quot.header
po/Makefile.in
po/Makevars.template
po/POTFILES
stamp-h1
w32/Makefile
w32/.deps
